@font-face {
    font-family: 'Chakra Petch';
    /* font-style: normal; */
    /* font-weight: 400; */
    src: url('../fonts/ChakraPetch-Medium.ttf') format('truetype');
}

* {
    font-family: 'Chakra Petch', sans-serif;
}
